<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.0.0/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-UU2jkdv1M9UEjLje/kygVxqMBq9Jrg9z+Gqvw972H6BqKTzDvLaRJfK7PnzLM4SI" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./style/loginStyle.css" />
</head>
<body>
    <div id="appIndex">
        <div class="row" id="landingMain">
            <div class="col-lg-6 col-sm-12" id="title">
                <h1 id="title">To-Do Fancy!</h1>
            </div>
            <div class="col-lg-6 col-sm-12-" id="loginDiv">
                <h2>Login</h2>
                <input v-model="username" type="text" placeholder="username"><br>
                <input v-model="password" type="password" placeholder="password"><br>
                <button class="btn btn-outline-warning" type="submit" v-on:click="login">Login</button>
                <button class="btn btn-link" v-on:click="sendtoRegis()">Register</button>
                <div class="fb-login-button navbarbtn" scope="public_profile,email" onlogin="checkLoginState"></div>
            </div>
        </div>
        <div class="row footer">
            <div class="col-12">
                <p>Please turn off ad-block extensions as it may prevent the app to work properly! Thank you :)</p>
            </div>
        </div>
    </div>
    
    <script src="script/loginFB.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./script/vueIndex.js"></script>
    <script   src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
                crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>