<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.0.0/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-UU2jkdv1M9UEjLje/kygVxqMBq9Jrg9z+Gqvw972H6BqKTzDvLaRJfK7PnzLM4SI" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./style/loginStyle.css" />

</head>
<body>
    <div id="appRegis">
        <div class="row" id="landingMain">
            <div class="col-lg-6 col-sm-12">
                <h2>REGISTER!</h2> 
            </div>
            <div class="col-lg-6 col-sm-12" id="loginDiv">
                <input id="firstname" type="text" placeholder="First Name" v-model="firstname"><br>
                <input id="lastname" type="text" placeholder="Last Name" v-model="lastname"><br>
                <input id="username" type="text" placeholder="Username: email@mail.com" v-model="username"><br>
                <input type="password" placeholder="Password" id="password" v-model="password"><br>
                <input type="password" placeholder="Confirm Password" id="confirmPassword" v-model="confirm"><br>
                <button class="btn btn-outline-success" v-on:click="register()">Register</button>
                <button class="btn btn-outline-danger" v-on:click="sendtoLogin()">Cancel</button>
            </div>
        </div>
        <div class="row footer">
            <div class="col-12">
                <p>Please turn off ad-block extensions as it may prevent the app to work properly! Thank you :)</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./script/vueRegis.js"></script>
    <script   src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
              integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
              crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>