.alert{
    display: none;
    background-color: lightgreen;
    padding: 40px 20px;
    margin-top: 10%
}

.update{
    display: none;
    margin: 4%
}

.bg-primary{
    background-color: bisque;
}

.bodyTodo{
    margin: 5% 0%;
    display: flex;
    align-items: center;
}

#greet{
    text-align: center;
    margin: 1%;
}

.row.footer {
    background-color: bisque;
    width: 100%;
    color: white;
    -webkit-text-stroke: 1px lightsalmon;
    font-size: 15px;
    text-align: center;
    bottom: 0;
}